/* general niceties */
.clear-both {clear:both;}
.float-right {float:right;}
.with-left-margin {padding-left:10px;}

/* specific to this app */
.code-test-section {background:#F5F5F5; border:1px solid #3F606E; padding:12px;}
.code-solution-in-card {margin:12px 0;}
.code-solution-section {background:#f5f5f5; border:1px solid #e8e8e8; padding:12px;}
.new-code_test-link {margin:0; float:right;}
.preview-with-more a.more {position:absolute; right:9px; top:9px;}
.front-groups {position:relative; border:1px dotted #999999; padding:10px;}