
.clear-both         {clear:both;}
.float-right        {float:right;}
.test-code          {background:#F5F5F5; border:1px solid #3F606E; padding:12px;}
.test-solution      {margin:12px 0;}
.new-code_test-link {margin:0; float:right;}